<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Request Payment</h2>
      <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <h4>Address</h4>
    <div style="margin-top: 10px; margin-bottom: 10px">
      <strong><%- coinpunk.wallet.getAddressName(data.address) %></strong><br>
      <strong><%- data.address %></strong>
    </div>
    
    <h4>Amount</h4>
    <div style="margin-top: 10px; margin-bottom: 10px">
      <input id="amount" type="text" name="amount" class="form-control" autocomplete="off" placeholder="0.00" style="display: inline; width: 100px" oninput="coinpunk.controllers.addresses.requestExchangeUpdate()" onchange="coinpunk.controllers.addresses.drawRequestQR('<%- data.address %>')"> DGB <span style="padding-left: 30px"> ≈ 
      <input id="amountExchange" type="text" name="amountExchange" class="form-control" autocomplete="off" placeholder="0.00" style="display: inline; width: 100px" oninput="coinpunk.controllers.addresses.requestBTCUpdate()" onchange="coinpunk.controllers.addresses.drawRequestQR('<%- data.address %>')"> <%- coinpunk.pricing.getCurrency() %>
    </div>
    <h4>Label <small>Optional</small></h4>
    <div style="margin-top: 10px; margin-bottom: 10px">
      <input id="label" class="form-control"  onchange="coinpunk.controllers.addresses.drawRequestQR('<%- data.address %>')" value="<%- coinpunk.wallet.getAddressName(data.address) == 'Default' ? '' : coinpunk.wallet.getAddressName(data.address) %>" style="width: 300px">
    </div>
    
    <h4>Message <small>Optional</small></h4>
    <div style="margin-top: 10px; margin-bottom: 10px">
      <textarea id="message" class="form-control" rows="3" cols="50" placeholder="Optional Message" onchange="coinpunk.controllers.addresses.drawRequestQR('<%- data.address %>')"></textarea>
    </div>
  </div>
  <div class="col-lg-4 col-lg-offset-1 text-center">
    <div id="qrcode"></div>
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <div class="col-lg-12 text-center">
    <a href="#/addresses/list" class="btn btn-lg btn-primary"><i class="fa fa-arrow-left"></i> Back<a>
  </div>
</div>