<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Coinpunk Error</h2>
    <hr>
    <h3>The Digibyte node appears to be down. Check that the server is running.</h3>
    <h4><a href="#/dashboard">Try Again</a></h4>
  </div>
</div>
