<style>
 .exchangePrice {
   padding-left: 5px;
  }
</style>
<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Send Digibytes</h2>
      <hr>
  </div>
</div>

<div class="row" style="padding-bottom: 20px">
  <div class="col-lg-12 text-center">
    <h4>You have <span id="availableBalance" class="addExchangePrice" style="color: #009933;"><%- data.balance %> DGB</span> available to spend.</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div id="errors" class="alert alert-danger hidden"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <form id="createSendForm" action="#" onsubmit="coinpunk.controllers.tx.create(); return false;" class="form-horizontal" role="form">
      
      <div class="form-group hidden-lg">
        <label for="qrcodeinput" class="col-lg-5 control-label">Scan from QR Code
        <div class="col-lg-5">
          <input class="btn btn-large btn-info" type="file" id="qrcodeinput" name="qrcodeinput" accept="image/*" capture="camera" style="width: 110px">
        </div>
      </div>
      
      <div class="form-group">
        <label for="address" class="col-lg-5 control-label">Digibyte address to send to</label>
        <div class="col-lg-5">
          <input id="address" type="text" name="address" autocomplete="off" class="form-control" onchange="coinpunk.controllers.tx.calculateFee()">
        </div>
      </div>
      <div class="form-group">
        <label for="amount" class="col-lg-5 control-label">Amount</label>
        <div class="col-lg-5">
          <input id="amount" type="text" name="amount" class="form-control" autocomplete="off" placeholder="0.00" style="display: inline; width: 100px" oninput="coinpunk.controllers.tx.sendExchangeUpdate()" onchange="coinpunk.controllers.tx.calculateFee()"> NTR
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-5 control-label"></label>
        <div class="col-lg-5">
          <input id="sendAmount" type="hidden" value="">
          <input id="changeAddress" type="hidden" value="">
          <input id="calculatedFee" type="hidden" value="<%- coinpunk.controllers.tx.defaultFee %>">
          <p>A fee of <span id="fee" class="addExchangePrice" style="color: #009933;"><%- coinpunk.controllers.tx.defaultFee %> DGB</span> will be added to ensure timely processing by the Digibyte network.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="submit" class="col-lg-5 control-label hidden-sm hidden-xs"></label>
        <div class="col-lg-2 text-center">
          <button id="sendButton" type="submit" class="btn btn-default btn-lg btn-primary" class="form-control"><i class="fa"></i> Send</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
	$("#qrcodeinput").on("change", coinpunk.controllers.tx.scanQR);
</script>
